@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

body{
    scrollbar-width: none;
    margin: 0;
    background-color: #FEFBE1;
}

/* Home page */
/* Header */
header {  
    background-color: #FEFBE1;  
    position: fixed;  
    left: 5px;  
    right: 5px;  
    top: 10px;  
    height: 3em;  
    display: flex; 
    align-items: center;  
    box-shadow: 0 0 25px 0 black;
    border-radius: 1.5625em;
}
header * {  
    display: inline;  
    }  
    header li {  
    margin: 0.5em;  
    }  
    header li a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
    }  
    header a{
        font-size: 20px;
    }
    header a:hover{
        color: grey;
    }

/*  */

.icon_flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
}

.icon_flex-container img{
    width: 5em;
    height: 4em;
}

.title_home{
    margin: 4em;
    width: 20em;
}

.scroll_down_home{
    width: 5em;
}

.Title , .Globe, .Scroll_Down{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.Scroll_Down{
    animation: animate 3s infinite;
}
.Globe{
    animation: zoom 6s ease-in infinite;
}
.inleiding, .why, .interview{
    flex-direction: column;
    display: flex;
    text-align: center;
}
.inleiding_title, .why_title, .interview_title{
    width: 100%;
    background-color: #B6D592;
    font-size: 4em;
    color: #FEFBE1;
}

.inleiding_text, .why_text, .interview_text{
    margin: 2em;
    font-size: 1.4em;
    color: #5BC5F2;
}
.icon{
    height: 2em;
    width: 2em;
    animation: ease-out;
    transform: scale(1,1);
}
.icon:hover{
    animation: ease-in;
    transform: scale(1.1,1.1);
}
/*  */
/* sidePage css */
.intro{
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.items{
    margin: 0.5em;
    justify-content: space-between;
    text-align: end;
    border: 3px black solid;
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 8em;
    height: 8em;
}
.info{
    margin-right: 1em;
}



/* Animations */

@keyframes animate{
    from{opacity: 0;}
    50%{opacity: 1;}
    to{opacity: 0;}
}

@keyframes zoom{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}



