@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

body{
    margin: 0;
    background-color: #FEFBE1;
}

/* Home page */

.icon_flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
}

.icon_flex-container img{
    width: 5em;
    height: 4em;
}

.title_home{
    width: 20em;
}

.scroll_down_home{
    width: 5em;
}

.Title , .Globe, .Scroll_Down{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.Scroll_Down{
    animation: animate 3s infinite;
}
.Globe{
    animation: zoom 6s ease-in infinite;
}
.inleiding, .why, .interview{
    margin: 2em;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.why{
    text-align: left !important;
}
.interview{
    text-align: right !important;
}
.inleiding_title, .why_title, .interview_title{
    font-size: 4em;
    color: #B6D592;
}

.inleiding_text, .why_text, .interview_text{
    font-size: 1.4em;
    color: #5BC5F2;
}
.icon:hover{
    animation: ease-in-out;
    transform: scale(1.1,1.1);
}



/* Animations */

@keyframes animate{
    from{opacity: 0;}
    50%{opacity: 1;}
    to{opacity: 0;}
}

@keyframes zoom{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

